<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>

<!--Normalize css-->
 <link rel="stylesheet" href="/css/Normalize.css">

<!--ICONOS-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<!--tipografias-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">

<!--Css-->
<link rel="stylesheet" href="/css/styles.css">

</head>
<body>
    <header>
        <div class="contenedor-f">
            <div class="contenedor-h">
                <div class="logo"> 
                    <a href="/">
                    <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
                    </a>
                </div>
                <div class="contenedor-lupa">
                    <input class="buscador" placeholder="Buscar productos, marcas y más">
                    <div id="lupita"><i class="fas fa-search"></i></div>
                </div>
            </div>
            <p  class="centrar-uno"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <div class="contenedor-nav-bar">
            <div class="contenedor-info">
                <div class="ocultar"> 
                <ul class="decoracion">
                    <li><a href="#ofertas">Ofertas</a></li>
                    <li><a href="/Tiendas Oficiales">Tiendas Oficiales</a></li>
                    <li><a href="/vender">vender</a></li>
                    <li><a href="/ayuda">Ayuda</a></li>
                </ul>
                </div>
            </div>
            <div class="contenedor-personal">
                <div class="ocultar"> 
                <ul class="decoracion">        
                    <li><a href="/crea-tu-cuenta">Creá tu cuenta</a><i class="fas fa-id-card"></i></li>
                    <li><a href="/Mis compras">Mis compras</a><i class="fas fa-shopping-bag"></i></li>
                </ul>
                </div>
            </div>
        </div>
        <div class="burger">
            <i id="menu" class="fas fa-bars"></i>
        </div>
    </header>
    <main>
        <h2 class="titular"> Inicio de sesion</h2>
            <form action="/ingresa">

                <label for="nombreUsuari@">Nombre de usuari@:</label>
                <input class="contenido" type="text"  name="nombreUsuari@" id="nombreUsuari@" required>
                <span  class="feedback"></span>

                <label for="contraseña">Contraseña:</label>
                <input class="contenido" type="password" name="contraseña" required>
                <span  class="feedback"></span>

                <a href="/"><button class="contenido" type="submit">Enviar</button></a>
        </form>
    </main>
    <footer > 
        <div class="contenedor-footer">
            <article>
                <div class="iconos"><i class="fas fa-money-check"></i> </div>
                <p class="negrilla">Pagá con tarjeta o en efectico</p>
                <p class="cuerpos-texto">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article>
                <div class="iconos"><i class="fas fa-gift"></i></div>   
                <p class="negrilla">Envío gratis desde $ 2.500<p>
                
                <p class="cuerpos-texto">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </article> 
            <article> 
                <div class="iconos"><i  class="fas fa-user-shield"></i></div>
                
                <p class="negrilla">Seguridad, de principio a fin<p>
                
                <p class="cuerpos-texto">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </article>
        </div>
        <div class="copy"> 
            <p class="cuerpos-texto">Copyright © 1999-2020 MercadoLiebre S.R.L.<p>
        </div>
    </footer>
</body>